<template>
  <div>
    <f-navbar></f-navbar>

    <section class="section" v-if="$store.state.user > 0">
      <div class="container">
        <router-view></router-view>
      </div>
    </section>
  </div>
</template>

<script>
import Navbar from './Navbar'
export default {
  components: {
    fNavbar: Navbar
  }
}
</script>