<template>
<nav class="navbar">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Forum App
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-info" @click="showLogin" v-if="$store.state.user == 0">
              <span class="icon">
                <i class="fa fa-sign-in"></i>
              </span>
              <span>
                Login
              </span>
            </a>
            <a class="button is-danger" @click="logout" v-if="$store.state.user > 0">
              <span class="icon">
                <i class="fa fa-sign-out"></i>
              </span>
              <span>
                Logout
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="modal" :class="{'is-active': isShowingLogin}">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Login</p>
          <button 
            class="delete" 
            aria-label="close" />
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input 
                class="input" 
                type="text" 
                v-model="form.name">
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input 
                class="input" 
                type="password"
                v-model="form.password"></textarea>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button 
            class="button is-success"
            :class="{'is-loading': isLoggingIn}"
            :disabled="!/\S/.test(form.name) || !/\S/.test(form.password) || isLoggingIn"
            @click="login">
            Login
          </button>
        </footer>
      </div>
    </div>
  </div>
</nav>
</template>

<script>
export default {
  data () {
    return {
      isShowingLogin: false,
      isLoggingIn: false,
      form: {
        name: '',
        password: ''
      }
    }
  },
  methods: {
    showLogin () {
      this.isShowingLogin = true
    },
    hideLogin () {
      this.isShowingLogin = false
    },
    async login () {
      let response = await axios.post('login', this.form)
      this.isLoggingIn = false

      if (typeof response !== 'string') {
        console.log(response)
        this.$store.commit('setUser', response.data.id)
        this.isShowingLogin = false
      }
    },
    logout () {
      this.$store.commit('setUser', 0)
    }
  }
}
</script>
