<template>
  <nav class="pagination is-right" role="navigation" aria-label="pagination">
    <ul class="pagination-list">
      <li>
        <a class="pagination-link" @click="onClick(1)">
          <<</a>
      </li>

      <li v-for="n in totalPages" :key="n" @click="onClick(n)">
        <a class="pagination-link" :class="{'is-current': currentPage == n}" aria-label="Page 1" aria-current="page">{{ n }}</a>
      </li>

      <li>
        <a class="pagination-link" @click="onClick(totalPages)">>></a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    currentPage: Number,
    totalPages: Number,
    onClick: Function
  }
}
</script>
