<template>
  <div class="box">
    <div>
      <h1 class="title is-4">Posts</h1>
      <a class="button forum-btn-new is-success is-outlined" @click="createNewPost">
        <span class="icon">
          <i class="fa fa-plus"></i>
        </span>
      </a>
    </div>
    
    <div class="modal" :class="{'is-active': addingPost || editingPost}">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">New Post</p>
          <button class="delete" aria-label="close" @click="cancelNewPost"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input class="input" type="text" placeholder="Enter title here" v-model="newPost.title">
            </div>
          </div>

          <div class="field">
            <label class="label">Content</label>
            <div class="control">
              <textarea class="textarea" placeholder="Enter post content here" v-model="newPost.content"></textarea>
            </div>
          </div>

          <div class="field">
            <label class="label">Category</label>
            <div class="select">
              <select v-model="newPost.category_id">
                <option value="0">-- Select category-- </option>
                <option 
                  v-for="category in categories"
                  :key="category.id"
                  :value="category.id">
                    {{ category.name }}
                </option>
              </select>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <a 
            v-if="addingPost"
            class="button is-success" 
            :class="{'is-loading': isPosting}"
            :disabled="!/\S/.test(newPost.title) || !/\S/.test(newPost.content) || newPost.category <= 0 || isPosting" 
            @click="post">
            Post
          </a>
          <a 
            v-if="editingPost"
            class="button is-success" 
            :class="{'is-loading': isPosting}"
            :disabled="!/\S/.test(newPost.title) || !/\S/.test(newPost.content) || newPost.category <= 0 || isPosting" 
            @click="editPost">
            Edit Post
          </a>
        </footer>
      </div>
    </div>

    <div class="modal" :class="{'is-active': addingComment || editingComment}">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">New Comment</p>
          <button class="delete" aria-label="close" @click="cancelNewComment"></button>
        </header>
        <section class="modal-card-body">
          <div class="card" v-if="postBeingCommented != null">
            <header class="card-header forum-header">
              <p class="card-header-title">
                {{ postBeingCommented.title }}
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                {{ postBeingCommented.content }}
                <br>
                <p class="forum-info"> by {{ postBeingCommented.user }} - {{ postBeingCommented.date }}</p>
              </div>
            </div>
          </div>

          <div class="field mt-20">
            <label class="label">Content</label>
            <div class="control">
              <textarea class="textarea" placeholder="Enter comment content here" v-model="newComment.content"></textarea>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <a 
            v-if="addingComment"
            class="button is-success"
            :class="{'is-loading': isCommenting}"
            :disabled="!/\S/.test(newComment.content) || isCommenting"  
            @click="comment">
            Comment
          </a>
          <a 
            v-if="editingComment"
            class="button is-success"
            :class="{'is-loading': isCommenting}"
            :disabled="!/\S/.test(newComment.content) || isCommenting"  
            @click="editComment">
            Edit Comment
          </a>
        </footer>
      </div>
    </div>

    <f-post 
      :ref="'post' + post.id"
      v-for="post in posts" 
      :key="post.id" 
      :post="post" />
  </div>
</template>

<script>
import Post from './Post'

export default {
  components: {
    fPost: Post
  },
  data () {
    return {
      categories: [],
      posts: [],
      addingPost: false,
      addingComment: false,
      editingPost: false,
      editingComment: false,
      newPost: {
        title: '',
        content: '',
        category_id: 0,
        user_id: this.$store.state.user
      },
      newComment: {
        content: '',
        post_id: 0,
        user_id: this.$store.state.user
      },
      postBeingCommented: null,
      isPosting: false,
      isCommenting: false,
      isDeleting: false,
      comments: [],
      postBeingDeleted: 0
    }
  },
  mounted () {
    this.loadUsers()
    this.loadCategories()
    this.loadPosts()
  },
  methods: {
    async loadCategories () {
      let response = await axios.get('categories')
      this.$store.commit('setCategories', response.data)
      this.categories = response.data
    },
    async loadPosts () {
      let response = await axios.get('posts')
      this.posts = response.data
    },
    async loadUsers () {
      let response = await axios.get('users')
      this.$store.commit('setUsers', response.data)
    },
    createNewPost () {
      this.addingPost = true
    },
    cancelNewPost () {
      if (this.addingPost) this.addingPost = false
      if (this.editingPost) this.editingPost = false
      this.newPost = {
        title: '',
        content: '',
        category_id: 0,
        user_id: this.$store.state.user
      }
    },
    createNewComment (postId) {
      this.addingComment = true

      this.newComment.post_id = postId

      for (let post of this.posts) {
        if (post.id == postId) {
          this.postBeingCommented = post
          break
        }
      }
    },
    cancelNewComment () {
      console.log('called cancelNewComment')
      if (this.addingComment) this.addingComment = false
      if (this.editingComment) this.editingComment = false
      this.newComment = {
        content: '',
        post_id: 0,
        user_id: this.$store.state.user
      }
    },
    async post () {
      this.isPosting = true
      let response = await axios.post('posts', this.newPost)

      this.isPosting = false
      let post = response.data
      post.date = post.date.date.substring(0, 19)

      this.posts.push(post)
      this.cancelNewPost()
    },
    async comment () {
      this.isCommenting = true
      let response = await axios.post('comments', this.newComment)

      this.isCommenting = false
      let comment = response.data
      comment.date = comment.date.date.substring(0, 19)

      this.$refs['post' + this.newComment.post_id][0].comments.push(comment)

      this.cancelNewComment()
    },
    async deletePost (postId, comments) {
      this.isDeleting = true
      this.postBeingDeleted = postId

      // delete comments
      for (let comment of comments) {
        let response = await axios.delete('comments/' + comment.id)
      }

      // delete post
      let response = await axios.delete('posts/' + postId)

      this.isDeleting = false
      this.postBeingDeleted = 0

      // remove post from posts array
      for (let post of this.posts) {
        if (post.id == postId) this.posts.splice(this.posts.indexOf(post), 1)
      }
    },
    startEditingPost (post, comments) {
      this.editingPost = true
      this.newPost = post
    },
    async editPost () {
      this.isPosting = true
      let response = await axios.put('posts/' + this.newPost.id, this.newPost)

      this.isPosting = false
      var editedPost = response.data

      for (let post of this.posts) {
        if (post.id == this.newPost.id) {
          this.posts[this.posts.indexOf(post)] = editedPost
        }
      }

      this.cancelNewPost()
    },
    startEditingComment (comment) {
      this.editingComment = true
      this.newComment = comment
    },
    async editComment () {
      this.isCommenting = true
      let response = await axios.put('comments/' + this.newComment.id, this.newComment)
      this.isCommenting = false

      var editedComment = response.data

      this.cancelNewComment()
    }
  }
}
</script>

<style lang="scss" scoped>
.forum-header {
  align-items: center;
}

.forum-btn-new {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 17px;
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}
</style>
