<template>
  <div>
    <div class="card forum-post">
      <header class="card-header forum-header">
        <p class="card-header-title">
          {{ post.title }}
        </p>
        <a 
          class="button forum-btn-comment is-primary is-outlined" 
          @click="$parent.createNewComment(post.id)">
          <span class="icon">
            <i class="fa fa-comment"></i>
          </span>
        </a>
        <a 
          class="button forum-btn-comment is-warning is-outlined" 
          @click="$parent.startEditingPost(post)" 
          v-if="$store.state.user == post.user_id">
          <span class="icon">
            <i class="fa fa-pencil"></i>
          </span>
        </a>
        <a 
          class="button forum-btn-comment is-danger is-outlined" 
          :class="{'is-loading': $parent.isDeleting && $parent.postBeingDeleted == post.id}"
          @click="$parent.deletePost(post.id, comments)" 
          v-if="$store.state.user == post.user_id">
          <span class="icon">
            <i class="fa fa-trash-o"></i>
          </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          {{ post.content }}
          <br>
          <p class="forum-info"> by {{ $store.getters.getUser(post.user_id).name }} - {{ post.date | moment }}</p>
          <span class="tag is-info">{{ $store.getters.getCategory(post.category_id).name }}</span>
          <br><br>

          <div class="card forum-comment" v-for="comment in comments" :key="comment.id">
            <div class="card-content">
              <div class="content">
                <i class="fa fa-fw fa-reply"></i> {{ comment.content }}
                <br>
                <p class="forum-info"> by {{ $store.getters.getUser(comment.user_id).name }} - {{ comment.date | moment }}</p>
                <a 
                  class="button forum-btn-comment is-warning"
                  @click="$parent.startEditingComment(comment)" 
                  v-if="$store.state.user == comment.user_id">
                  <span class="icon">
                    <i class="fa fa-pencil"></i>
                  </span>
                </a>
                <a 
                  class="button forum-btn-comment is-danger"
                  :class="{'is-loading': isDeletingComment && commentBeingDeleted == comment.id}"
                  @click="deleteComment(comment)" 
                  v-if="$store.state.user == comment.user_id">
                  <span class="icon">
                    <i class="fa fa-trash-o"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  props: {
    post: Object
  },
  data () {
    return {
      comments: [],
      postBeingDeleted: 0,
      isDeletingComment: false,
      editedPost: null
    }
  },
  async mounted () {
    let response = await axios.get('posts/' + this.post.id + '/comments')
    this.comments = response.data
  },
  filters: {
    moment (date) {
      return moment(date).format('MMMM Do YYYY')
    }
  },
  methods: {
    moment () {
      return moment()
    },
    async deleteComment (comment) {
      this.commentBeingDeleted = comment.id
      this.isDeletingComment = true
      await axios.delete('comments/' + comment.id)
      this.isDeletingComment = false

      this.comments.splice(this.comments.indexOf(comment), 1)
    }
  }
}
</script>

<style lang="scss" scoped>
.forum-post {
  margin-top: 20px;
}

.forum-comment {
  background-color: whitesmoke;
}

.forum-info {
  color: gray;
  font-size: 15px;
}

.forum-btn-comment {
  margin-top: 6px;
  margin-right: 5px;
}
</style>
